@media(max-width:900px) {

    .hero-content {

        flex-direction: column-reverse;

        text-align: center;

    }

    .hero-text p {

        margin: auto;

    }

    .hero-image img {

        width: 280px;

        height: 280px;

    }

    .navbar {

        flex-direction: column;

    }

    .nav-links {

        flex-wrap: wrap;

        justify-content: center;

        margin-top: 20px;

    }

    .nav-links li {

        margin: 10px;

    }

    .hero-text h1 {

        font-size: 42px;

    }

}