* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F8FAFC;
    color: #1E293B;
}

/* Navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #0F172A;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #38BDF8;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
    padding: 20px;
}

.hero h3 {
    color: #2563EB;
    font-size: 25px;
}

.hero h1 {
    font-size: 55px;
    margin: 20px 0;
}

.hero h2 {
    color: #2563EB;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 35px;
    background: #2563EB;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s;
}

.btn:hover {
    background: #1d4ed8;
}