* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background: #f8fafc;

    color: #1e293b;

}

header {

    position: fixed;

    width: 100%;

    background: #0f172a;

    z-index: 1000;

}

.navbar {

    width: 90%;

    margin: auto;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 0;

}

.logo {

    font-size: 30px;

    font-weight: bold;

    color: white;

}

.nav-links {

    display: flex;

    list-style: none;

    gap: 30px;

}

.nav-links a {

    color: white;

    text-decoration: none;

    font-size: 17px;

    transition: .3s;

}

.nav-links a:hover {

    color: #3b82f6;

}

.hero {

    width: 90%;

    margin: auto;

    height: 100vh;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding-top: 90px;

}

.hero-text {

    width: 55%;

}

.hero-text h3 {

    font-size: 32px;

    color: #2563eb;

}

.hero-text h1 {

    font-size: 70px;

    margin: 15px 0;

}

.hero-text h2 {

    font-size: 35px;

    color: #2563eb;

    margin-bottom: 20px;

}

.hero-text p {

    font-size: 20px;

    line-height: 35px;

    margin-bottom: 40px;

}

.buttons {

    display: flex;

    gap: 20px;

}

.btn {

    background: #2563eb;

    color: white;

    padding: 15px 35px;

    text-decoration: none;

    border-radius: 10px;

    font-size: 18px;

}

.btn2 {

    border: 2px solid #2563eb;

    padding: 15px 35px;

    text-decoration: none;

    border-radius: 10px;

    color: #2563eb;

    font-size: 18px;

}

.hero-image {

    width: 40%;

    text-align: center;

}

.hero-image img {

    width: 380px;

    height: 380px;

    border-radius: 50%;

    object-fit: cover;

    border: 8px solid white;

    box-shadow: 0 20px 60px rgba(0, 0, 0, .2);

}